.emotions-sent {
  display: none;
  position: fixed;
  top: 230px;
  left: 25%;

  width: 320px;

  background-color: #ffffff;
}

.emotions-sent__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.emotions-sent__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .emotions-sent {
    width: 640px;
  }

  .emotions-sent__title {
    font-size: 30px;
    line-height: 30px;
  }

  .emotions-sent__wrapper {
    padding: 0 113px;
    padding-top: 65px;
    padding-bottom: 38px;
  }

  .emotions-sent__background {
    padding: 47px 90px;
    background-color: #f2f2f2;
  }

  .emotions-sent__button {
    margin: 0;
    width: 460px;
  }
}
