.find-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 27px;
}

.find-hotel__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.find-hotel__text {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.find-hotel__button {
  display: block;
  margin: 0 auto;
  margin-bottom: 49px;
  padding: 15px 20px;
  width: 282px;

  font-size: 21px;
  line-height: 26px;

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.find-hotel__map {
  width: 100%;
  height: 350px;
  background-color: #f3f1ed;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .find-hotel {
    padding-top: 53px;
  }

  .find-hotel__map {
    width: 100%;
    height: 350px;
  }

  .find-hotel__title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
  }

  .find-hotel__text {
    display: block;
    margin: 0 auto;
    width: 396px;
    margin-bottom: 44px;
  }

  .find-hotel__button {
    width: 458px;
    margin-bottom: 57px;
    padding: 15px 15px;
  }
}

@media (min-width: @desktop-width) {
  .find-hotel__map {
    width: 100%;
    height: 350px;
  }

  .find-hotel__button {
    margin-bottom: 70px;
  }
}
