.page-main {
  background-color: #ffffff;
  margin: 0 auto;
}

.page-main__title {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 28px;

  display: block;
  width: 258px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 100%;
    margin: 0 auto;
  }

  .page-main__title {
    display: block;

    margin: 0 auto;
    margin-bottom: 30px;
    width: 450px;

    font-size: 21px;
    line-height: 26px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    margin-bottom: 30px;
  }
}
