.page-header {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
}

.page-header__logo {
  position: absolute;

  left: 115px;
  z-index: 2;
}

.page-header__background {
  height: 389px;

  background-color: #9ec9df;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 93%, 0 0, 100% 0, 100% 93%, 50% 100%);
}

.page-header__text-index {
  margin-top: 90px;

  width: 282px;
  height: 214px;
}

@media (max-width: @mobile-width-only) {
  .page-header__background {
    margin-top: 56px;
  }

  .page-header__background--submenu {
    position: relative;
    height: 158px;

    background-position: bottom;

    clip-path: polygon(0 132px, 0 0, 100% 0, 100% 132px, 50% 100%);
  }

  .page-header__text-index--submenu {
    position: absolute;

    top: -120px;
    left: 20px;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    margin-bottom: 50px;
  }

  .page-header__background {
    width: 100%;
    height: 518px;

    background-size: cover;

    clip-path: polygon(0% 0%, 100% 0%, 100% 482px, 734px 485px, 734px 461px, 50% 100%, 34px 461px, 34px 485px, 0% 482px);
  }

  .page-header__background--submenu {
    position: relative;
    height: 290px;

    background-position: bottom;

    clip-path: polygon(0% 0%, 100% 0%, 100% 254px, 734px 257px, 734px 233px, 50% 100%, 34px 233px, 34px 257px, 0% 254px);
  }

  .page-header__text-index--submenu {
    position: absolute;

    top: -120px;
    left: 150px;
  }

  .page-header__logo {
    display: none;
  }

  .page-header__text-index {
    margin-top: 77px;
    width: 460px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__background {
    width: 100%;
    height: 518px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 463px, 950px 485px, 950px 461px, 50% 100%, 250px 461px, 250px 485px, 0% 463px);
    background-size: cover;
  }

  .page-header__logo {
    display: none;
  }

  .page-header__text-index {
    margin-top: 79px;
    width: 460px;
    height: 350px;
  }

  .page-header__background--submenu {
    position: relative;
    height: 302px;

    background-position: bottom;

    clip-path: polygon(0% 0%, 100% 0%, 100% 245px, 950px 268px, 950px 244px, 50% 100%, 250px 244px, 250px 268px, 0% 245px);
  }

  .page-header__text-index--submenu {
    position: absolute;

    top: -120px;
    left: 370px;
  }
}
